# Exercise 2 - Data Pre-processing
One of the most essential phases of any machine learning task is ensuring that the data is in the optimal state for processing, prior to building any models. For this week’s tasks, we will be using the churn dataset, which can be found in the online repository.

In [11]:
import pandas as pd

churn = pd.read_csv('churn.csv')
churn

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,2,0,1,0,1,0,0,1,0,1,0,0,0,0,1,1,29.85,29.85,0
1,1,0,0,0,34,1,0,1,1,0,1,0,0,0,12,0,56.95,1889.5,0
2,1,0,0,0,2,1,0,1,1,1,0,0,0,0,1,1,53.85,108.15,1
3,1,0,0,0,45,0,0,1,1,0,1,1,0,0,12,0,42.30,1840.75,0
4,2,0,0,0,2,1,0,2,0,0,0,0,0,0,1,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,1,1,0,1,1,1,1,12,1,84.80,1990.5,0
7039,2,0,1,1,72,1,1,2,0,1,1,0,1,1,12,1,103.20,7362.9,0
7040,2,0,1,1,11,0,0,1,1,0,0,0,0,0,1,1,29.60,346.45,0
7041,1,1,1,0,4,1,1,2,0,0,0,0,0,0,1,1,74.40,306.6,1
7042,1,0,0,0,66,1,0,2,1,0,1,1,1,1,24,1,105.65,6844.5,0

We must ensure that there is no column with empty values. We will remove the rows having empty values under a given column using code lines below. Indexes of all rows having empty TotalCharges value is stored in a variable.

In [7]:
emptyRows = churn[churn['TotalCharges'].str.match(' ')].index
churn.drop(emptyRows)
churn

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,2,0,1,0,0.013889,0,0,1,0,1,0,0,0,0,1,1,0.115423,29.85,0
1,1,0,0,0,0.472222,1,0,1,1,0,1,0,0,0,12,0,0.385075,1889.5,0
2,1,0,0,0,0.027778,1,0,1,1,1,0,0,0,0,1,1,0.354229,108.15,1
3,1,0,0,0,0.625000,0,0,1,1,0,1,1,0,0,12,0,0.239303,1840.75,0
4,2,0,0,0,0.027778,1,0,2,0,0,0,0,0,0,1,1,0.521891,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0.333333,1,1,1,1,0,1,1,1,1,12,1,0.662189,1990.5,0
7039,2,0,1,1,1.000000,1,1,2,0,1,1,0,1,1,12,1,0.845274,7362.9,0
7040,2,0,1,1,0.152778,0,0,1,1,0,0,0,0,0,1,1,0.112935,346.45,0
7041,1,1,1,0,0.055556,1,1,2,0,0,0,0,0,0,1,1,0.558706,306.6,1
7042,1,0,0,0,0.916667,1,0,2,1,0,1,1,1,1,24,1,0.869652,6844.5,0

I seem to have same number of rows?

View the dataset, once you have loaded it in. You should notice that the data is primarily made up of data which is either Boolean or of a single digit order of magnitude. However, there are four features (“tenure”, “Contract”, “MonthlyCharges” and “TotalCharges”) that have a significantly larger spread of values. To enable the machine learning algorithms to perform better, we will scale these features using the method used in previous weeks. Use the commands given below to write the appropriate function and apply that function to the “tenure” feature.

In [5]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
churn[['tenure']] = min_max_scaler.fit_transform(churn[['tenure']])

After this has been completed, apply the function to the other features that also require scaling.

In [8]:
churn[['MonthlyCharges']] = min_max_scaler.fit_transform(churn[['MonthlyCharges']]) 
churn[['TotalCharges']] = min_max_scaler.fit_transform(churn[['TotalCharges']])

ValueError: could not convert string to float: ''

seems I get an error: 

ValueError                                Traceback (most recent call last)
/Users/dickinsd/Github/ds-bootcamp-unn/ds-boot-week-11-dickinson-e2.ipynb Cell 9 in <cell line: 2>()
      1 churn[['MonthlyCharges']] = min_max_scaler.fit_transform(churn[['MonthlyCharges']]) 
----> 2 churn[['TotalCharges']] = min_max_scaler.fit_transform(churn[['TotalCharges']])

File ~/miniforge3/lib/python3.9/site-packages/sklearn/base.py:867, in TransformerMixin.fit_transform(self, X, y, **fit_params)
    863 # non-optimized default implementation; override when a better
    864 # method is possible for a given clustering algorithm
    865 if y is None:
    866     # fit method of arity 1 (unsupervised transformation)
--> 867     return self.fit(X, **fit_params).transform(X)
    868 else:
    869     # fit method of arity 2 (supervised transformation)
    870     return self.fit(X, y, **fit_params).transform(X)

File ~/miniforge3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:420, in MinMaxScaler.fit(self, X, y)
    418 # Reset internal state before fitting
    419 self._reset()
--> 420 return self.partial_fit(X, y)

File ~/miniforge3/lib/python3.9/site-packages/sklearn/preprocessing/_data.py:457, in MinMaxScaler.partial_fit(self, X, y)
    451     raise TypeError(
    452         "MinMaxScaler does not support sparse input. "
    453         "Consider using MaxAbsScaler instead."
...
File ~/miniforge3/lib/python3.9/site-packages/pandas/core/generic.py:2064, in NDFrame.__array__(self, dtype)
   2063 def __array__(self, dtype: npt.DTypeLike | None = None) -> np.ndarray:
-> 2064     return np.asarray(self._values, dtype=dtype)

ValueError: could not convert string to float: ''

*I suspect that the code to drop rows has not worked, hence why my row count remains the same, yet the normalisation process cannot occur due to NaN content? *

I see I missed an important piece of code in that I did not update my variable to contain the dropped rows

In [12]:
emptyRows = churn[churn['TotalCharges'].str.match(' ')].index
churn = churn.drop(emptyRows)
churn

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,2,0,1,0,1,0,0,1,0,1,0,0,0,0,1,1,29.85,29.85,0
1,1,0,0,0,34,1,0,1,1,0,1,0,0,0,12,0,56.95,1889.5,0
2,1,0,0,0,2,1,0,1,1,1,0,0,0,0,1,1,53.85,108.15,1
3,1,0,0,0,45,0,0,1,1,0,1,1,0,0,12,0,42.30,1840.75,0
4,2,0,0,0,2,1,0,2,0,0,0,0,0,0,1,1,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,1,1,0,1,1,1,1,12,1,84.80,1990.5,0
7039,2,0,1,1,72,1,1,2,0,1,1,0,1,1,12,1,103.20,7362.9,0
7040,2,0,1,1,11,0,0,1,1,0,0,0,0,0,1,1,29.60,346.45,0
7041,1,1,1,0,4,1,1,2,0,0,0,0,0,0,1,1,74.40,306.6,1
7042,1,0,0,0,66,1,0,2,1,0,1,1,1,1,24,1,105.65,6844.5,0

In [13]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
churn[['tenure']] = min_max_scaler.fit_transform(churn[['tenure']]) 
churn[['MonthlyCharges']] = min_max_scaler.fit_transform(churn[['MonthlyCharges']]) 
churn[['TotalCharges']] = min_max_scaler.fit_transform(churn[['TotalCharges']])

Machine learning models depend on at least two sets of data: training data and testing data (a third set – validation data – is sometimes also used to help ensure that the model will be useful when faced with unseen data). The training data provides the basis for a model to be trained, as in, the characteristics of data within this set are learned and associated with a particular class membership. The testing set provides data for the model to test, so that the efficacy and effectiveness of the model can be established.

Before we can begin to build any models, we must therefore split our dataset into two smaller subsets. The ratio of training to testing data will vary depending on a number of factors, including the size of the dataset itself (larger datasets allow for splits more heavily biased in favour of the training data, whereas smaller datasets may have to be more even to ensure that there are enough observations within the testing set), and the types of algorithms that is to be used. The most common splits are 70/30 and 80/20; for this exercise, we will use the latter.

To perform this split, a random number approach will be used. To achieve this within Python, we will allocate a pseudo-random value of either 1 or 0 to every observation within the dataset, with the probability of 0.8 for a 1, and 0.2 (or more accurately, 1 - 0.8), for 0. The random_state parameter of train_test_split function represent pseudo-random value. The second line divide the dataset up into the training and testing sets.

In [14]:
from sklearn.model_selection import train_test_split

trainset, testset = train_test_split(churn, train_size=0.8, random_state=1)

Once the dataset has been divided up, the “customerID” feature should be removed, as the randomness inherent in that feature will inhibit the effectiveness of the classification.

In [15]:
del trainset['customerID']
del testset['customerID']

KeyError: 'customerID'

is there even a column called 'customerID'?